<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1020637006827-n82jnkhpokoroim3e42204qsuvd843vc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020637006827-n82jnkhpokoroim3e42204qsuvd843vc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1020637006827-h9v02eits5cl4pbs5pt42751qutdqu9o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA_zwow44NOQcEzjACHOMi37kQPNtIF6iM</string>
	<key>GCM_SENDER_ID</key>
	<string>1020637006827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apexstore</string>
	<key>PROJECT_ID</key>
	<string>new-apex-df23e</string>
	<key>STORAGE_BUCKET</key>
	<string>new-apex-df23e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020637006827:ios:b87a743ee773ce7faf27ae</string>
</dict>
</plist>